@{
  ViewBag.BodyClass = "AboutUs p2";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "中壢青商";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
@Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<section>
            <h3>中壢國際青年商會</h3>
            <img src="~/Content/images/AboutUs/Chungli_img.jpg" class="float-l">
            <p>中壢最早升格為縣轄市，因此行政區域規劃相當完整，市民大多以工商業為主。而文教興盛，則更讓中壢領袖桃園，中壢市內有七所知名大專院校，人文薈萃；而公教人口的增加，青少年人口的移入，在消費行為和族群結構上，都在在對中壢產生了變化。</p>
            <p>民國六十年代,台灣在經濟和社會方面正處於轉形期,而隨著經濟繁榮社會發展,各種國際性公益社團紛紛引進,深入民間；地方分會如雨後春筍般的成立,其中以服務人群訓練自己為宗旨的青商會最受年輕一輩政商人士所響往.當時的中壢可以說是一個已接近開發完成的地區,當時擔任省議員的許信良先生,糾合了八十七位志同道合,胸懷人群的社會青年共同籌組中壢青商會。</p>
            <p>而在那個威權的時代,成立一個新的社團談何容易所幸創會會有發揮堅忍不拔的勇氣與毅力,所有困難一一迎刃而解.六十二年八月二十六日中壢國際青年商會正式誕生,她是中國青商會第三十二個分會也是桃園縣第二個青商會。國際青年商會中壢分會打造了青年的夢想，以「青年學府、領袖搖籃」之姿與青年共同服務貢獻於全世界人類。</p>
            <p>中壢國際青年商會於1994年提出爭取國際青年商會亞太地區大會(JCI ASPAC)承辦權，這個會議每年於這個區域每個會員國爭取舉辦，每年固定都會有來自世界各地的會員參加，固定參加者有45個國家和地區，註冊參與者有6000人至12000人，尤其日本舉辦時，參加者甚至超過這個數目。爭取主辦權利之分會都是以社團本身的力量，不管財力和物力都是由會友自行募款，且爭取時間有的甚至超過二十五年，像馬來西亞檳城(2004年)，日本仙台(2002年)，韓國大邱(2001年)都花了非常多時間，這些JCI的會員都是為了透過爭取承辦權讓會友的素質提昇，並增加國際視野。</p>
            <p>中壢青商會爭取初期還曾因桃園中壢地區飯店房間數量不足受到國際青商世界總會的疑慮，而且中壢只是鄉下的小城市，但多年來經本會競取委員會多方奔走，並在多場國際青商會議努力展現台灣第一大分會的實力，讓亞洲太平洋地區等國際大城市因情勢轉而支持台灣中壢，並且在全體會友的努力下終於在2007年順利完成了這次亞太大會，我們身為分會的一員，莫不感到光榮與責任，對鄉里的一種榮譽感。在中壢國際青年商會全體會友競取ASPAC的過程中，以「訓練自己，服務人群」為會務目標，並藉由會友的訓練，帶來中壢的進步與繁榮，尤其桃園縣在以縣長的「招商」口號，貫徹於每一個縣府的行政部門，這也正是青商信條所言「經濟上的公平應由自由的人，通過自由企業途徑獲得之」「服務人群，是人生最崇高的工作」。與會會友透過大會啟發青年領袖智慧並運用其潛力，達到「訓練自己、服務人群」，並學習企業家精神，以期於事業、團體、社會及家庭擔任更重要的重任；進而促進地球村的進步與繁榮，與世界全人類共同努力，促進世界和平。 </p>
        </section>

        <section>
            <h3>中壢國際青年商會─基本資料</h3>
            <table>
                <tr>
                    <th>現任會長</th><td>宋航源</td>
                    <th>創會會長</th><td>許信良</td>
                </tr>
                <tr>
                    <th>現任秘書</th><td>吳鳳珠</td>
                    <th>創會日期</th><td>1973年8月26日</td>
                </tr>
                <tr>
                    <th>會員人數</th><td> 100 人　</td>
                    <th>特友會友</th><td>150 人</td>
                </tr>
                <tr>
                    <th>會館電話</th><td>03-4920342</td>
                    <th>會館傳真</th><td>03-4915406</td>
                </tr>

                <tr>
                    <th>會館地址</th>
                    <td colspan="3"> 320 桃園市中壢區明德路280之3號4樓</td>
                </tr>
                <tr>
                    <th>電子信箱</th>
                    <td colspan="3"><A href="mailto:cljc@ms48.hinet.net">cljc@ms48.hinet.net</A></td>
                </tr>
                <tr>
                    <th>中壢青商網站</th>
                    <td colspan="3">
                        <A href="http://www.jciyp.org.tw" target="_blank">中壢青商黃頁</A>
                        <!--<A href="http://jcitaiwan.cc/jciyp/" target="_blank">總會中壢青商網頁</A>-->
                    </td>
                </tr>

                <tr>
                    <th>兄弟會</th>
                    <td><A href="http://taitung.taiwanjc.org.tw/" target="_black">台東青商會</a></td>
                    <th>日本姊妹會</th>
                    <td><A href="http://www.mikijc.or.jp/" target="_black">三木青年會議所</a></td>
                </tr>
                <tr>
                    <th>兄弟會</th>
                    <td><A href="http://victory.taiwanjc.org.tw/" target="_black">成功青商會</a></td>
                    <th>韓國姊妹會</th>
                    <td>東城南青商</td>
                </tr>
                <tr>
                    <th>菲律賓姊妹會</th>
                    <td colspan="3">庫力耶特青商會</td>
                </tr>
                <tr>
                    <th>輔導母會</th>
                    <td colspan="3"><A href="http://taoyuan.taiwanjc.org.tw" target="_black">桃園青商會</a></td>
                </tr>
                <tr>
                    <th>輔導子會</th>
                    <td><A href="http://lungtan.taiwanjc.org.tw/" target="_black">龍潭青商會</a></td>
                    <th>輔導子會</th>
                    <td><A href="http://tayuan.taiwanjc.org.tw/" target="_black">大園青商會</a></td>
                </tr>
            </table>

        </section>