@{
  ViewBag.BodyClass = "AboutUs p1";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "國際青商";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
@Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<img src="~/Content/images/AboutUs/taiwanjc_img.jpg" class="float-l">
        <p>國際青年商會(JUNIOR CHAMBER INTERNATIONAL)，簡稱青商會(JCI)。青商會1916於美國創立，在二次大戰後的隔年(1946年)正式成為跨國性的國際組織，青商會與扶輪社、獅子會、同濟會並稱四大國際社團。JCI 國際青年商會，是全世界青年的團體，更是一項尋求人類親善與和平的團體。至今，青商會已成為全世界最大的青年組織，遍及各大洲，而且每年都有新的分會成立。目前青商會共有91個國家總會，8571個地方分會，近三十五萬名個人會員；使用四種通訊語言，分別是：法文、西班牙文、英文、日文；每年召開世界大會及區域性會議(亞太大會)。</p>

        <p>青商會是由一群四十歲以下青年人所組織而成，以合議制方式運作，透過「個人、社區、商業、國際」四大機會的活動，從中參與學習，進而達到「訓練自己、服務人群」的宗旨。我國第一個青商會於民國四十二年成立，也是我國第一個國際性的民間組織，至今已有五十年的歷史。青商會組織遍佈全國，目前國內共有200多個分會，會員數達12,000人，為世界第六大會員國。</p>

        <section class="clear">
            <h3>國際青年商會宗旨</h3>
            <p>總會章程第五條：本會之宗旨為發展青年之才智並結合有志青年之力量，以促進人類生活、社會經濟及精神文明之進展。</p>
            <ul class="text-list">
                <li>一、啟發並促使每一國民承擔其應盡之責任。</li>
                <li>二、透過會務活動，以發展並提高青少年之領導潛能。</li>
                <li>三、藉參與計劃及執行會務活動，以訓練個人繁榮社會。</li>
                <li>四、促進經濟發展。</li>
                <li>五、促進全人類之瞭解、友誼與合作。</li>
            </ul>

            <h3>國際青年商會目的</h3>
            <ul class="text-list">
                <li>一、提供年青人機會發展</li>
                <li>二、社會責任感及其領導能力</li>
                <li>三、建立其間的交誼友情</li>
                <li>四、以便對促進全球社區的發展有所貢獻</li>
            </ul>
        </section>

        <section>
            <h3>國際青年商會中華民國總會基本資料</h3>
            <table>
                <tr>
                    <th>現任會長</th><td>林恩億 Lin, En-I</td>
                    <th>創會會長</th><td>張廉驤</td>
                </tr>
                <tr>
                  <th>主任秘書</th><td>陳宏貞</td>
                  <th>創會日期</th><td>1953年3月1日 (成立第63年)</td>
                </tr>
                <tr>
                  <th>會員人數</th><td>5035 人</td>
                  <th>特友會友</th><td>418 人</td>
                </tr>
                <tr>
                  <th>會館電話</th><td>02-27128960</td>
                  <th>會館傳真</th><td>02-25460149</td>
                </tr>
                <tr>
                  <th>會館地址</th>
                  <td colspan="3">105 台北市松山區南京東路四段45號8樓</td>
                </tr>
                <tr>
                  <th>電子信箱</th>
                  <td colspan="3"><A href="mailto:service@taiwanjc.org.tw">service@taiwanjc.org.tw</A></td>
                </tr>
                <tr>
                  <th>會館網站</th>
                  <td colspan="3"><A href="http://www.taiwanjc.org.tw" target="_blank">http://www.taiwanjc.org.tw</A></td>
                </tr>
            </table>

        </section>