@{
    ViewBag.BodyClass = "Video";
    ViewBag.Title = "影音分享";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/Video">@ViewBag.Title</a></li>
    <li>2014年</li>
</ul>
<h2><span>Videos<em>@ViewBag.Title</em></span></h2>