@{
    ViewBag.Title = "2015桃園國際青年創業論壇::找回海盜精神，就是要創業:全程參加活動就有活動抽【免費參加韓國創業交流研討會】";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>2015桃園國際青年創業論壇::找回海盜精神，就是要創業:全程參加活動就有活動抽【免費參加韓國創業交流研討會】</title>
    <link rel="stylesheet" href="~/Content/css/jljc2015.css">
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/scroll.js"></script>
    <!--[if lt IE 9]>
         <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">

        <nav id="menu">
            <a href="#intro" class="scroll">活動介紹</a>
            <a href="#game" class="popup-link">創意競賽</a>
            <a href="http://www.careernet.org.tw/" target="_blank">創業資源</a>
            <a href="http://www.accupass.com/go/cljc2015" target="_blank">我要報名</a>
        </nav>

        <section id="header">
            <h1>2015桃園國際青年創業論壇::找回海盜精神 就是要創業</h1>
            <ul class="list-unstyled">
                <li><span class="label">時間</span>8/22(六) 9:30~18:00</li>
                <li><span class="label">地點</span>中央大學大講堂</li>
                <li>
                    <span class="label">全程參加活動就有機會抽</span><br>
                    <em>免費參加</em>韓國創業交流研討會
                </li>
                <li>集滿課程貼紙x四枚，活動中不定時開放戳集，總計抽出三位名額</li>
                <li><a class="btn" href="https://www.google.com/calendar/render?action=TEMPLATE&trp=true&sf=true&output=xml&dates=20150822T013000Z/20150822T100000Z&details=2015 桃園國際青年創業論壇:找回海盜精神，就是要創業%0Ahttp://www.jciyp.org.tw/&location=中央大學大講堂&text=參加 2015 桃園國際青年創業論壇" target="_blank">加到我的<br>google行事曆</a></li>
            </ul>
            <div id="banner"></div>
            <dl class="clock">
                <dt>活動已<br>圓滿結束</dt>
                <dd>謝謝大家支持</dd>
            </dl>
            <a class="btn new image-link" href="~/Content/images/Event/jljc2015/10.jpg">決賽名單出爐了!!</a>
        </section>

        <ul id="marquee" class="marquee">
            <li><a class="image-link" href="~/Content/images/Event/jljc2015/10.jpg">決賽名單出爐了!!!</a></li>
            <li><a href="http://www.bnext.com.tw/article/view/id/36930" target="_blank">張天立：博客來的多少波瀾、多少挫折，現在都已了然</a></li>
            <li>參加全程活動，集滿 4 個課程貼紙，就有機會抽中免費參加韓國創業交流研討會外，再送你創業基金 (共計三個名額)~</li>
            <li>全程免費! 歡迎熱血青年與想要創業的民眾朋友共襄盛舉</li>
            <li>偉大的理想，都需要踏出第一步。</li>
            <li>當全球經濟劇烈變動，如何帶動國內經濟活動蓬勃發展?時下熱血青年正是這股新興力量的最大來源!</li>
            <li>邀請台港韓知名創業家從過去經驗與環境分析，提供專業分享與甘苦談，從經驗成果快速學習創業技巧，贏在創業起跑點！</li>
            <li>六組創業團對現場PK創業競賽，讓業師評審告訴你創業關鍵在哪裡。</li>
        </ul>

        <section id="intro">
            <article>
                <header>創業大講</header>
                <h3>經驗學習．創業快速上手</h3>
                <p>邀請台港韓知名創業家從過去經驗與環境分析，提供專業分享與甘苦談，從經驗成果快速學習創業技巧，贏在創業起跑點！</p>
                <div class="popup-gallery">
                    <a href="~/Content/images/Event/jljc2015/p1.jpg"><img src="~/Content/images/Event/jljc2015/p1_s.png" alt="馬維業"></a>
                    <a href="~/Content/images/Event/jljc2015/p2.jpg"><img src="~/Content/images/Event/jljc2015/p2_s.png" alt="張天立"></a>
                    <a href="~/Content/images/Event/jljc2015/p3.jpg"><img src="~/Content/images/Event/jljc2015/p3_s.png" alt="解建新"></a>
                    <a href="~/Content/images/Event/jljc2015/p4.jpg"><img src="~/Content/images/Event/jljc2015/p4_s.png" alt="廖上翔"></a>
                    <a href="~/Content/images/Event/jljc2015/p5.jpg"><img src="~/Content/images/Event/jljc2015/p5_s.png" alt="彭成功"></a>
                    <a href="~/Content/images/Event/jljc2015/p6.jpg"><img src="~/Content/images/Event/jljc2015/p6_s.png" alt="개인연혁SEMI"></a>
                </div><!-- popup-gallery //-->
            </article>
            <article>
                <header><a href="#game" class="popup-link">創業競賽</a></header>
                <h3>發揮無限創意‧激盪創新好點子</h3>
                <p>六組創業團對現場PK創業競賽，讓業師評審告訴你創業關鍵在哪裡。</p>
                <h4>創業競賽獎項></h4>
                <ul class="list-unstyled">
                    <li><span class="label">首 獎</span>創業金 <strong>3萬元</strong> + <abbr class="tooltip" data-tooltip="出國深造三天兩夜">韓國交流研討會名額 x <strong>1名</strong></abbr></li>
                    <li><span class="label">貳 獎</span>創業金 <strong>2萬元</strong></li>
                    <li><span class="label">參 獎</span>創業金 <strong>1萬元</strong></li>
                </ul>
            </article>
            <article>
                <header>創業論壇</header>
                <h3>討論分享‧創業重點大彙整</h3>
                <p>行雲會顧問解建新主持創業論壇，結合產官學專家一起討論，環境、趨勢、資源等重點整理，菜鳥老闆衝刺班！錯過太可惜。</p>
            </article>
            <article>
                <header>創業博覽會</header>
                <h3>創業大門為你開‧拔得頭籌</h3>
                <p>現場由青年事務局、桃園青創協會、中壢青商會、讀冊生活及其他各行各業招商所，設攤引導創業新手，認識更多創業商機。</p>
            </article>
        </section>

        <section id="news">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/4zNocBunOzw?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
            <dl>
                <dt>LATEST NEWS</dt>
                <dd>
                    <em>2015/08/18</em>
                    <a class="image-link" href="~/Content/images/Event/jljc2015/10.jpg">決賽名單出爐了!!</a>
                </dd>
                <dd>
                    <em>2015/08/13</em>
                    【個人資料保護說明】<br>
                    2015桃園國際青年創業論壇-找回海盜精神就是要"創業"(以下簡稱本活動)透過Accupass活動通及相關網站所取得的個人資料，皆僅供Accupass線上報名、中壢國際青年商會之活動內部使用，依活動報明相關文件說明之使用目的與範圍使用。除非事先說明或依照相關法律規定，否則本活動及Accupass活動通不會將您的個人資料提供給任何第三人、或移作其它目的使用。
                </dd>
                <dd>
                    <a href="http://www.bnext.com.tw/article/view/id/36930" target="_blank">
                        <em>2015/08/07</em>張天立：博客來的多少波瀾、多少挫折，現在都已了然(數位時代報導)
                    </a>
                </dd>
            </dl>
        </section>

        <section id="invite">
            <div class="wrap">
                <header>活動嘉賓</header>
                <ul class="list-inline">
                    <li class="tooltip" data-tooltip="越世代創新體集團 董事總經理">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p1-2.jpg" alt="馬維業"><span>馬維業</span>
                    </li>
                    <li class="tooltip" data-tooltip="博客來網路書店、讀冊生活網路書店創辦人">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p2-2.jpg" alt="張天立"><span>張天立</span>
                    </li>
                    <li class="tooltip" data-tooltip="國際級顧問講師">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p6-2.jpg" alt="解建新"><span>解建新</span>
                    </li>
                    <li class="tooltip" data-tooltip="悠活原力創辦人">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p7-2.jpg" alt="廖上翔"><span>廖上翔</span>
                    </li>
                    <li class="tooltip" data-tooltip="韓國青年創業家">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p9-2.jpg" alt="개인연혁SEMI"><span>개인연혁SEMI</span>
                    </li>
                    <li class="tooltip" data-tooltip="桃園市長">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p3-2.jpg" alt="鄭文燦"><span>鄭文燦</span>
                    </li>
                    <li class="tooltip" data-tooltip="桃園市青年事務局局長">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p4-2.jpg" alt="陳家濬"><span>陳家濬</span>
                    </li>
                    <li class="tooltip" data-tooltip="桃園市中小企業榮譽指導員協進會榮譽會長">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p8-2.jpg" alt="彭成功"><span>彭成功</span>
                    </li>
                    <li class="tooltip" data-tooltip="中央大學校長">
                        <img class="img-circle" src="~/Content/images/Event/jljc2015/p5-2.jpg" alt="周景揚"><span>周景揚</span>
                    </li>
                </ul>
            </div>
        </section>

        <section id="map">
            <div class="wrap">
                <iframe class="g-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.9680778491966!2d121.19608909999998!3d24.967200700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346823c1bb2d5ab7%3A0x3a1c9e4cc1cf9107!2zMzIw5qGD5ZyS5biC5Lit5aOi5Y2A5ZyL56uL5Lit5aSu5aSn5a245aSn6Kyb5aCC!5e0!3m2!1szh-TW!2stw!4v1436759467537" width="750" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                <ul class="list-unstyled">
                    <li><span class="label">時間</span>8/22(六) 9:30~18:00</li>
                    <li><span class="label">地點</span>中央大學大講堂</li>
                </ul>
            </div>
        </section>
    </div><!-- wrapper //-->
    <section id="footer">
        <dl class="contacts">
            <dt>中壢青商會</dt>
            <dd>TEL: (03)492-0342　<a href="mailto:cljc@ms48.hinet.net">cljc@ms48.hinet.net</a><br>320 桃園縣中壢市明德路 280 之 3號 4樓</dd>
        </dl>
        <ul class="list-unstyled">
            <li>指導單位/桃園市政府、桃園市議會、桃園市政府青年事務局、國際青年商會中華民國總會桃竹苗區會</li>
            <li>主辦單位/中壢國際青年商會</li>
            <li>協辦單位/台灣行雲會、中央大學育成中心、天晟醫院</li>
        </ul>
        <a class="qrcode tooltip" href="http://www.accupass.com/go/cljc2015" target="_blank" data-tooltip="城市通報名網頁"><img src="~/Content/images/Event/jljc2015/QRCode.png" alt="QRCode"></a>
    </section>

    <div id="game" class="mfp-hide popup">
        <header>創業競賽</header>

        <h3>決賽名單出爐了!!!快來看看你有沒有上榜~~</h3>
        <img src="~/Content/images/Event/jljc2015/10.jpg">

        <h3>競賽目的</h3>
        <img class="float-r" src="~/Content/images/Event/jljc2015/pic.png" alt="插圖">
        <p>當全球經濟局勢劇烈變動，如何在日新月異的社會中，找出青年創業之關鍵成功要素，積極提升國內青年素質，拓展創意、經濟與科技的全新視野，增加青年就業的自信與鴻圖，活絡創業之精神，為社會注如更強而有力的經濟脈絡。</p>
        <p>桃園市是年輕的城市，市民平均年齡37歲，市府更應該負起責任，給年輕人舞台，給年輕人力量及支援，並給年輕家庭溫暖。</p>
        <p>每個偉大的理想，都需要踏出第一步，年輕人擁有滿腔熱血，但不知如何運用政府資源，為自己增加創業機會。市府青年事務局下設的青年創業中心，將提供青年創業的協助，包括取得資金、開發產品、財務管理及產品行銷等。青創中心會分區設立，讓專業創業輔導師進駐，輔導年輕人創業。</p>

        <h3>競賽流程</h3>
        <p class="text-hide">組隊→8/7前繳交提案&報名→遴選6組決賽→團隊DEMO與展示會→頒獎與發送創業基金→後續創業培育資源→輔佐企業成立</p>

        <img class="float-r" src="~/Content/images/Event/jljc2015/pic2.png" alt="插圖">
        <h3>競賽資格說明</h3>
        <p>參賽團隊不限任何技術、服務與產品類型，有無開立公司皆可，團隊至少兩位成員，歡迎亞太各國18~45歲學生、青年創業團體及青年創業家、臺灣地區全國大專院校青年與社團、中華民國國際青年商會會友，所有有志服務群眾、發揮己力之熱血青年共同組隊參加。</p>
        <ol class="text-list">
            <li>
                （一）基本資格說明:
                <ol>
                    <li>參賽團員18~45歲，有無開立公司皆可報名參加。</li>
                    <li>不含指導老師/業師，每團隊至多五人，二人即可組隊參加。</li>
                    <li>指導老師/業師非必須，同一人可參加多組團隊，然成員與團隊名稱交件後不得更換，參賽團隊得設隊長一名，以便與活動執行單位連絡。</li>
                </ol>
            </li>
            <li>（二）不限任何產業類別及技術類型，鼓勵跨院校、跨系組師生及社會人士組隊參加。</li>
            <li>（三）主辦單位保有更動該組競賽時程、方式與得獎名額之權利。</li>
            <li>（四）作品之著作權歸屬於參賽團隊所有，僅供主辦單位推廣展示之用，如有任何著作權或其他相關權利糾紛，應由團隊自行負責，並取消獲獎資格。</li>
        </ol>

        <h3>競賽繳交資料</h3>
        <ol class="text-list">
            <li>（一）資料繳交期間至 2015年8月7日，隨到隨審。</li>
            <li>（二）2015年8月22日 進行團隊DEMO與展示 (2015桃園國際青年創業論壇)。</li>
            <li>（三）書面審查初審，下載填寫下列文件，並於截止日前電子郵件寄至 <a href="mailto:cljc@ms48.hinet.net" target="_blank">cljc@ms48.hinet.net</a></li>
        </ol>
        <ul class="list-inline">
            <li>
                <a href="~/Content/download/doc.rar" class="tooltip" data-tooltip="按我下載報名文件">
                    ※ 團隊報名表一式 (附件一) <br>
                    ※ 創業構想書一式 (附件二，簡報檔格式)
                </a>
            </li>
            <li>
                <a href="mailto:cljc@ms48.hinet.net" target="_blank" class="tooltip" data-tooltip="請於截止日2015年8月7日(五) 前 E-mail">
                    於截止日 2015年8月7日(五) 前 <br>
                    E-mail 寄至 cljc@ms48.hinet.net
                </a>
            </li>
        </ul>

        <h3>評選與給獎方式</h3>
        <ol class="text-list">
            <li>( 一 ) 審查方式：評選委員會聘請業界相關學者及專家組成。</li>
            <li>
                ( 二 ) 評選標準：
                <table class="table-bordered">
                    <caption>評選標準</caption>
                    <tr>
                        <th>評審項目</th>
                        <th>比重</th>
                        <th>評審重點</th>
                    </tr>
                    <tr>
                        <td class="text-center">簡報技巧與團隊合作呈現應用潛能與商業價值</td>
                        <td class="text-center">40%</td>
                        <td>以團隊背景、計畫書內容、規畫、是否適切並充分表面其概念或產品之未來發展潛力，以及所具有的商業價值程度。</td>
                    </tr>
                    <tr>
                        <td class="text-center">創業可行性</td>
                        <td class="text-center">30%</td>
                        <td>是否合理貼切且具市場競爭及未來發展潛力價值，有相當高程度的創業可行性。</td>
                    </tr>
                    <tr>
                        <td class="text-center">計畫內容完整性</td>
                        <td class="text-center">30%</td>
                        <td>評比整體創業之原創性、創新性及獨特性</td>
                    </tr>
                </table>
            </li>
            <li>
                ( 三 ) 給獎內容
                <ol>
                    <li>凡投稿皆可獲得參賽證明書，獎金依綜合所得稅法規定除扣繳稅款。</li>
                    <li>
                        獎項內容 <br>
                        首獎：創業基金 ３萬元 + 韓國交流研討會名額 x１名 <br>
                        貳獎：創業基金 ２萬元 <br>
                        參獎：創業基金 １萬元
                    </li>
                </ol>
            </li>
            <li>
                ( 四 ) 後續創業培育資源
                <ol>
                    <li>獲選團隊可獲得由桃園市青年事務局提供之<u>育成空間</u>試營運。<br>育成空間：獲選團隊與桃園市青年事務局簽屬使用合約，擁有公共空間(如會議室借用)，與共同創業辦公室使用權(各團隊一張辦公桌)</li>
                    <li>可免費使用育成空間相關資源，並代表桃園市青年事務局與中壢青商會參加相關交流活動。</li>
                    <li>安排資金投資媒合對象，進一步討論投資可能性。</li>
                </ol>
            </li>
        </ol>

        <h3>【個人資料保護說明】</h3>
        <p>2015桃園國際青年創業論壇-找回海盜精神就是要"創業"(以下簡稱本活動)透過Accupass活動通及相關網站所取得的個人資料，皆僅供Accupass線上報名、中壢國際青年商會之活動內部使用，依活動報明相關文件說明之使用目的與範圍使用。除非事先說明或依照相關法律規定，否則本活動及Accupass活動通不會將您的個人資料提供給任何第三人、或移作其它目的使用。</p>
    </div><!-- popup //-->

    <!-- <div id="paper" class="mfp-hide popup">
        <img src="~/Content/images/Event/jljc2015/10.jpg">
    </div> -->

    <!-- 跑馬燈.燈箱.倒計時 -->
    <script src="~/Content/js/jquery.marquee.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    @* <script src="~/Content/js/jquery.countdown.min.js"></script> *@
    <script>
        $(document).ready(function () {
            // 跑馬燈
            $("#marquee").marquee();

            // 燈箱
            $('.popup-gallery').magnificPopup({
                type: 'image',
                removalDelay: 300,
                mainClass: 'mfp-fade',
                delegate: 'a',
                gallery:{
                    enabled:true
                }
            });
            $('.popup-link').magnificPopup({
                type: 'inline',
                removalDelay: 300,
                mainClass: 'mfp-fade',
                midClick: true
            });
            $('.image-link').magnificPopup({
                type:'image',
                removalDelay: 300,
                mainClass: 'mfp-fade',
            });
        });

        // 網頁載入彈跳視窗
        // $(window).load(function () {
        //     $.magnificPopup.open({
        //         items: {
        //             // src: '#paper'
        //             src: '~/Content/images/Event/jljc2015/10.jpg'
        //         },
        //         mainClass: 'mfp-fade',
        //         type: 'image',
        //     }, 0);
        // });

        // 倒計時設定
        // $('.clock').countdown('2015/8/22', function (event) {
        //     $(this).html(event.strftime('<dt><small>還 有</small><br>%D 天</dt> <dd>%H:%M:%S</dd>'));
        // });
    </script>
</body>
</html>